/* Common */
body {
	background: #fff;
	color: #252054;
	direction: ltr;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 12px;
	font-weight: normal;
}

.TopHead {
	text-align: center;
	color: #252054;
}

a {
	color: #2B588A;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.no_glow_on_focus, .no_glow_on_focus:hover {
	outline: none
}

.adbox{
	width: 130px;
	height: 30px;
	position: absolute;
	top: 3px;
	right: 3px;
	box-shadow: 0px 0px 3px 2px #2B588A;
}

.adbox-logo {
	box-shadow: none;
	border: none;
	float: left;
	margin-right:10px;
}

.adbox-text {
	height: 30px;
	float: left;
	text-align: center;
	font-size: 11px;
	font-weight: normal;
	overflow: hidden;
}

/* Clear */
.clear_fix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clear_fix {
  height: 1%;
}
.clear_fix {
  display: block;
}
.clear {
  float: none;
  clear: both;
}
.scroll_fix {
  position: relative;
}

/* Thumbs Container */
.ThumbsViewer-thumbs_container {
  padding: 4px 15px 10px;
}

.ThumbsViewer-thumb_block {
  padding: 9px 9px 9px 10px;
  width: 130px;
  height: 87px;
  display: inline-block;
}

.ThumbsViewer-thumb_block a{
  display: block;
  width: 130px;
  height: 87px;
  overflow: hidden;
  text-align: center;
  background: #F1F1F1;
  position: relative;
}

.ThumbsViewer-thumb_block.selected  a{
  /*outline: 3px solid red*/
  box-shadow: 0px 0px 3px 2px red
}

.ThumbsViewer-thumb_block a.bg{
  display: none;
}

.ThumbsViewer-thumb_block img {
  vertical-align: top;
  max-width: 130px;
}

.ThumbsViewer_loader_gif{
  margin-top: 31px;
  margin-bottom: 31px;
}

.italic_bold {
  font-style: italic;
  font-weight: bolder;
}

.ThumbsViewer_zoom-ico {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 24px;
  height: 24px;
}

.ThumbsViewer_zoom-ico img{
  cursor: url("graphics/zoomin.cur"), pointer;
}

.weclome_p {
	color: #252054;
	direction: ltr;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 12px;
	font-weight: normal;
}

.blink_1 {
	box-shadow: 0px 0px 3px 2px red;
}